bin
/*.sdf
/*.suo
ipch
/*.opensdf
ThirdpartyLib
OutNetworkSDK
NetworkSDK
OutNetworkClientSDK
OutNetworkServerSDK
NetworkServerSDK
OutBusinessServerBin
NetworkClientSDK
OutBusinessServerTestBin
OutBinOfSlnBuild
/NetworkClient/*.filters
/NetworkClient/*.user
.vs
OutNetworkClientBin
OutNetworkServerBin
OutBinOfSln
/LibNetwork/*.user
/LibNetwork/*.filters
/LibNetworkClient/*.user
/LibNetworkClient/*.filters
/LibNetworkServer/*.user
/LibNetworkServer/*.filters
/NetworkServer/*.filters
/NetworkServer/*.user
